.main {
    position: relative;
    width: 100%;
    height: auto;
}
.content {
    margin-left: 250px;
    padding-top: 45px;
    padding-left: 45px;
    min-height: 600px;
    padding-bottom: 45px;
}

.button_search {
    background-color: #00A65A;
    color: white;
    width: 10%;
    height: 35px;
    border-radius: 4px;
    cursor: pointer;
}
.table{
    width: 90%;
}

table {
    width: 100%;
    margin: 20px 50px 20px 0px;
    border: 1px solid #F0F4F8;
}
table th,
table td {
    padding: 15px 30px;
    text-align: left;
}
table th {
    color: #243D58;
    font-weight: 600;
    background-color: #f1f7fd;
}
table tbody tr td {
    border-top: 1px solid #F0F4F8;
}
table a {
    cursor: pointer;
    text-decoration: none;
}
.student a {
    color: red;
}
.file a {
    color: #0000EE;
}
.btn_process {
    width: 45px;
    height: 30px;
    color: white;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
}
.btn_primary{
    background-color: #007BFF;
}
.btn_danger {
    background-color: #DC3545;
}
.btn_detail {
    background-color: #00A65A;
}
.btn_add {
    width: 80px;
    height: 35px;
    position: absolute;
    right: 10%;
    cursor: pointer;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s linear 0s ;
}
.modal_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal_body {
    width: 40%;
    height: 85%;
    background-color: white;
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 60%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 20px;
}

.modal_inner {
    width: 100%;
    height: 100%;
}
.modal_title {
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}
.modal_inner {
    text-align: center;
}
.modal_inner li {
    font-size: 22px;
    margin-bottom: 5px;
    text-align: left;
}
.close {
	position: absolute;
	top: 0;
	right: 14px;
	font-size: 42px;
	transform: rotate(45deg);
	cursor: pointer;
}


.modal_inner input[type=text],
.modal_inner input[type=datetime-local],
.modal_inner textarea{
	width: 70%;
	display: block;
	margin: 15px auto;
	font-size: 16px;
	padding: 10px 20px 10px 20px;
	border: 2px solid #aaa;	
	border-radius: 15px;
	box-sizing: border-box;
	outline: none;
	transform: 0.3s;
    resize: none;
}

.modal_inner input[type=text]:focus,
.modal_inner input[type=datetime-local]:focus,
textarea:focus {
	border-color: dodgerblue;
	box-shadow: 0 0 8px 0 dodgerblue;
}
.modal_inner button {
    font-size: 18px;
	padding: 7px 35px 7px 35px;
	background-color: #2388D8;
	color: white;
	border-radius: 20px;
	border: 2px solid #2388D8;
    margin-top: 15px;
}

.modal_inner button:hover {
	background-color: #fff;
	color: #2388D8;
}
.modal_inner h2{
    margin: 0;
    padding: 0;
}

.form_field{
    position: relative;
}
.form_label{
    position: absolute;
    top: -9px;
    margin: 0;
    padding: 0 5px;
    left: 20%;
    background-color: #fff;
    pointer-events: none;
    color: #aaa;
}
.form_input:focus + .form_label{
    color: dodgerblue;
}
.btn_download_st{
    cursor: pointer;
    width: auto;
    padding: 10px 20px 10px 20px;
    height: auto;
    background-color: #24BE88;
    color: white;
    border: 0;
    margin-left: 20%;
    border-radius: 5px;
}
.btn_download_proc{
    cursor: pointer;
    width: auto;
    padding: 10px 10px 10px 10px;
    height: auto;
    background-color: #24BE88;
    color: white;
    border: 0;
    margin-left: 20%;
    border-radius: 5px;
}
.btn_download_class{
    background-color: #24BE88;
    color: white;
    width: 8%;
    height: 35px;
    border-radius: 4px;
    cursor: pointer;
}