.main {
    position: relative;
    width: 100%;
    height: auto;
}
.content {
    margin-left: 250px;
    padding-top: 45px;
    padding-left: 45px;
    min-height: 600px;
    padding-bottom: 45px;
}

.boxed {
    text-align: right;
    width: calc(25% - 43px);
    height: 18%;
    padding-right: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    float: left;    
    background: var(--white);
    border-radius: 5px;
    box-shadow: 2px 7px 25px rgba(0,0,0,0.4);
}
.box_blue {
    border-left: 3px solid #4E73DF;
}
.box_red {
    border-left: 3px solid #E15B5E;
}

.box-title{
    margin: 0;
    padding: 0;
    color: #949494;
}