:root {
	--green-color: #00A65A;
}
.main {
    position: relative;
    width: 100%;
    height: auto;
}
.content {
    margin-left: 250px;
    padding-top: 45px;
    padding-left: 45px;
    min-height: 600px;
    padding-bottom: 45px;
}
.table {
    width: 90%;
    margin-top: 30px;
}
table {
    width: 100%;
    margin: 20px 50px 20px 0px;
    border: 1px solid #F0F4F8;
}
table th,
table td {
    padding: 15px 30px;
    text-align: left;
}
table th {
    color: #243D58;
    font-weight: 600;
    background-color: #f1f7fd;
}
table tbody tr td {
    border-top: 1px solid #F0F4F8;
}
.btn_register {
    width: 50px;
    height: 35px;
    color: white;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
}
.btn_primary{
    background-color: #007BFF;
}
.btn_danger {
    background-color: #DC3545;
}
.open-modal-btn {
	transition: 0.25s;
}
.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.hide {
	display: none;
}

.modal__inner {
	width: 450px;
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
	animation: showModal linear 0.2s;
	position: relative;
	margin: 130px auto;
}
.modal-offers-inner{
	margin: 50px auto;
}
@keyframes showModal {
	from {
		top: -200px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

.modal__header{
	background-color: var(--green-color);
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 15px 10px 15px;
	font-size: 18px;
}
.modal__header p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.modal__body	{
	padding: 15px;
}

.modal__body h2 {
	color: var(--green-color);
    margin: 0;
}

.modal__footer {
	padding: 0 15px 15px 15px;
	text-align: right;
}
.modal-offers-footer{
	padding-bottom: 0px;
}
.modal__footer button,
.modal__footer input[type=submit] {
	outline: none;
	border: none;
	padding: 10px 20px;
	background-color: #007BFF;
	color: white;
	border-radius: 6px;
	cursor: pointer;
	font-size: 16px;
	border: 2px solid #2388D8;
}
.modal__footer button:hover,
.modal__footer input[type=submit]:hover {
	background-color: #fff;
	color: #2388D8;
	border: 2px solid #2388D8;
}
i {
	cursor: pointer;
	font-size: 18px;
}
.modal__form{
	overflow-y: scroll;
	border: 1px solid #ccc;
	padding: 10px 5px 10px 5px;
	margin-top: 5px;
	height: 200px;
}
.modal__form label,
.modal__form input{
	font-size: 17px;
	cursor: pointer;
}
.modal__form::-webkit-scrollbar{
	width: 10px;
    background: lightgrey;
    
}
.modal__form::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 2px;
}
#btn-offer{
	width: 100px;
    height: 35px;
    float: right;
    cursor: pointer;
	margin: 5% 10% 20px 0px;
	font-size: 15px;
	font-family: Arial;
}
.icon-add{
	font-size: 14px;
}
.modal-offers-form input[type=text],
.modal-offers-form input[type=number],
.modal-offers-form textarea{
	width: 70%;
	display: block;
	margin: 20px auto;
	font-size: 16px;
	padding: 10px 20px 10px 20px;
	border: 2px solid #aaa;	
	border-radius: 15px;
	box-sizing: border-box;
	outline: none;
	transform: 0.3s;
    resize: none;
}
.modal-offers-form textarea{
    margin-bottom: 0px;
}
.modal-offers-form input[type=text]:focus,
.modal-offers-form input[type=number]:focus,
.modal-offers-form textarea:focus {
	border-color: dodgerblue;
	box-shadow: 0 0 8px 0 dodgerblue;
}

.form_field{
    position: relative;
}
.form_label{
    position: absolute;
    top: -9px;
    margin: 0;
    padding: 0 5px;
    left: 20%;
    background-color: #fff;
    pointer-events: none;
    color: #aaa;
}
.form_input:focus + .form_label{
    color: dodgerblue;
}